.Main-Nav {
  max-width: 847px;
  margin: 0 auto;
  padding: 32px 24px;
}

.LinkContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Header-Logo {
  display: none;
}

.logo {
  margin-right: 40px;
}

.MenuLink,
.SpecialsLink,
.EventsLink,
.OrderLink,
.AboutLink {
  color: var(--red2);
  font-family: var(--c-font);
  font-size: var(--md);
  font-weight: 700;
  letter-spacing: -0.17px;
  text-transform: uppercase;
}

@media screen and (max-width: 768px) {
  .logo {
    display: none;
  }

  .Header-Logo {
    display: flex;
    justify-content: center;
    margin-bottom: 43px;
  }
}

@media screen and (max-width: 400px) {
  .EventsLink {
    display: none;
  }
}
