.HeroSection {
  margin: 32px 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.HeroImageContainerLarge {
  margin: 0 auto;
}

.HeroImageLarge {
  margin: 0 auto;
  max-width: 100%;
  max-height: auto;
}

.HeroImageContainerMedium {
  margin: 0 auto;
  display: none;
}

.HeroImageContainerSmall {
  margin: 0 auto;
  display: none;
}

@media screen and (max-width: 768px) {
  .HeroImageContainerLarge {
    display: none;
  }

  .HeroImageContainerMedium {
    margin: 0 auto;
    display: contents;
    max-width: 100%;
    height: auto;
  }

  .HeroImageMedium {
    max-width: 100%;
    height: auto;
    margin: 0 auto;
  }
}

@media screen and (max-width: 320px) {
  .HeroImageContainerMedium {
    display: none;
  }

  .HeroImageContainerSmall {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    display: contents;
  }

  .HeroImageSmall {
    max-width: 120%;
    height: auto;
    margin: 0 auto;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }

  .HeroSection {
    margin: 0px;
    overflow: hidden;
    padding: 35px 0pc;
  }
}
