.HeroSection {
  margin: 32px 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.HeroImageContainerLarge {
  margin: 0 auto;
}

.HeroImageContainerMedium {
  margin: 0 auto;
  display: none;
}

.HeroImageContainerSmall {
  margin: 0 auto;
  display: none;
}

@media screen and (max-width: 768px) {
  .HeroImageContainerLarge {
    display: none;
  }

  .HeroImageContainerMedium {
    margin: 0 auto;
    display: contents;
  }
}

@media screen and (max-width: 320px) {
  .HeroImageContainerMedium {
    display: none;
  }

  .HeroImageContainerSmall {
    margin: 0 auto;
    display: contents;
  }
}
