.SpecialsSection {
  background-color: var(--ethels-red);
  padding: 32px 24px;
}

.SpecialsHeader {
  color: var(--orange3);
  text-align: center;
  font-family: var(--c-font);
  font-size: var(--xxlg);
  font-style: italic;
  font-weight: 900;
  line-height: 40px;
  margin-bottom: 32px;
}

.AllSpecials-Wide {
  max-width: 800px;
  display: flex;
  flex-direction: row;
  column-gap: 48px;
  margin: 0 auto;
}
.WideWidthLeft,
.WideWidthRight {
  text-align: left;
  display: flex;
  flex-direction: column;
  row-gap: 32px;
}

.AllSpecials-Long {
  display: none;
}

.Day {
  color: var(--orange2);
  font-family: var(--p-font);
  font-size: var(--mid);
  font-weight: 500;
}

.Special {
  color: var(--orange3);
  font-family: var(--p-font);
  font-size: var(--lg);
  font-weight: 500;
}

.Price {
  color: var(--orange3);
  font-family: var(--p-font);
  font-size: var(--mid);
  font-weight: 500;
}

.Description {
  color: var(--orange2);
  font-family: Roboto Condensed;
  font-size: var(--sm);
  font-weight: 400;
  line-height: 22px;
  letter-spacing: -0.16px;
}

.When {
  color: var(--orange3);
  font-family: var(--p-font);
  font-size: var(--sxm);
  font-style: italic;
  font-weight: 500;
}

.link {
  color: var(--orange3);
  font-family: "Roboto Condensed";
  font-size: var(--mid);
  font-weight: 700;
  line-height: 26px;
  letter-spacing: -0.18px;
}

@media screen and (max-width: 768px) {
  .AllSpecials-Wide {
    display: none;
  }

  .AllSpecials-Long {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    row-gap: 32px;
    max-width: 500px;
  }
}
