.About {
  background-color: var(--orange3);
  margin-top: 40px;
  padding-top: 40px;
}

.AboutSection {
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-items: center;
  align-items: center;
  padding-bottom: 40px;
}

.TitleContainer {
  display: block;
  width: 188px;
  max-width: 30%;
  margin: 0 auto;
  height: auto;

  position: relative;
}

.AboutTitle {
  width: 100%;
  height: auto;
}

.swiper {
  width: 820px;
  height: 600px;
}

.mySwiper {
  width: 820px;
  height: 600px;
  max-width: 100%;
  margin: 0 auto;
  padding: 24px;
}

.swiper-slide {
  background: var(--orange3);
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiperImage {
  border-radius: 34px;
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.AboutDescription {
  text-align: left;
  margin: 0 auto;
  padding: 24px;
  max-width: 600px;
  color: var(--black);
  font-size: var(--mid);
  font-weight: 400;
  line-height: 30px;
  letter-spacing: -0.18px;
}

.AboutSectionSmall {
  display: none;
}

@media screen and (max-width: 1130px) {
  .AboutSectionSmall {
    height: auto;

    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .AboutSection {
    display: none;
  }
}

@media screen and (max-width: 500px) {
  .mySwiper {
    width: 820px;
    height: 600px;
    height: auto;
    max-width: 100%;
    margin: 0 auto;
    padding: 24px;
  }

  .AboutDescription {
    width: 100%;
    padding-bottom: 60px;
  }
}
